/* =================================
  Base Layout Styles
==================================== */

/* ---- GENERAL ---- */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Meriweather Sans', sans-serif;
  background-color: #f8f8f8;
  color: #606060;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: .9em;
}

h3 {
  font-size: .8em;
}

p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .03em;
  line-height: 1.5;
  color: #888;
}

a {
  text-decoration: none;
  color: #606060;
}

li {
  font-size: .9em;
}

img {
  max-width: 100%;
}

hr.faded-edge {
   border: 0;
   height: 1px;
   width: 90%;
   background: #333;
   background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* ---- Wrappers ---- */

#wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper-transparent {
  padding 30px 5%;
}

.wrapper-portfolio {
  background-color: white;
  padding 30px 5%;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ---- Main Header ---- */

.main-header {
  text-align: center;
}

.name {
  padding: .3em 0;
}

.menu {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}

.menu li {
  list-style: none;
  background-color: white;
  margin: 0 auto 5px;
  max-width: 90%;
  padding: 12px 0;
}

/* ---- Main body styles ---- */

.profile-pic {
  margin: 1.6em auto 1em;
  max-width: 64%;
  text-align: center;
}

.main-text {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.portfolio {
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
  margin: 0 auto;
}

.portfolio h2 {
  text-transform: uppercase;
  padding: 45px 0 35px;
}

.portfolio h3 {
  font-size: 1.1em;
  font-weight: 400;
  padding: 10px 0 2px;
}

.portfolio p {
  margin-bottom: 40px;
}

.portfolio-detail {
    max-width: 90%;
    margin: 0 auto;
}

.contact {
  text-align: center;
  margin: 0 auto 40px;
}

.contact h2 {
  text-transform: uppercase;
  font-size: .9em;
  padding: 45px 0 25px;
}

.contact p {
  text-align: center;
  max-width: 90%;
  margin: 0 auto 15px;
}

/* ---- Footer styles ---- */

.footer {
  margin: 10px auto 15px;
  max-width: 90%;
}

.student {
  float:left;
}

.back-to-top {
  float: right;
  text-transform: uppercase;
}
