/* =================================
  Base Layout Styles
==================================== */

/* ---- GENERAL ---- */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Meriweather Sans', sans-serif;
  background-color: #ffe4a0;
  color: #505050;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: .9em;
}

h3 {
  font-size: .8em;
}

p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .03em;
  line-height: 1.5;
  color: #666;
}

a {
  text-decoration: none;
  color: #606060;
}

a:hover {
  color: #e0ab26;
}

ul {
  padding: 0;
}

li {
  font-size: .9em;
}

img {
  max-width: 100%;
}

hr.faded-edge {
   border: 0;
   height: 1px;
   width: 90%;
   background: #444;
   background-image: linear-gradient(to right, #ccc, #444, #ccc);
}

/* ---- Wrappers ---- */

#wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

#wrapper-white {
  background-color: white;
  padding: 0 5%;
}

#wrapper-white h2 {
  text-align: center;
  text-transform: uppercase;
}

.max-width {
  max-width: 1280px;
}

/* ---- Main Header ---- */

.name {
  padding: .3rem 0;
  text-align: center;
}

.menu ul {
  width: 100%;
  padding: 0px 5%;
  text-align: center;
}

.menu li {
  margin-bottom: 5px;
  list-style: none;
  background-color: white;
  padding: 12px 0;
  font-weight: 700;
  text-transform: uppercase;
}

/* ============================
      Main body styles
==============================*/

/* ---- Profile styles ---- */

.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 5%
}

.profile-pic {
  margin: 1.6em 0 1em;
}

.main-text {
  text-align: center;
  padding-bottom: 25px;
}

/* ---- Portfolio styles ---- */

.portfolio-title {
  padding: 45px 0 35px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.portfolio h3 {
  font-size: 1.1em;
  font-weight: 400;
  padding: 10px 0 2px;
}

.portfolio p {
  margin-bottom: 40px;
}

.portfolio-item {
  transition: all .3s;
}

/* ---- Skills styles ---- */

.skills {
  text-align: center;
  /*display: flex;
  justify-content: center;*/
}

.skills h2 {
  padding: 28px 0;
}

.skills ul {
  padding-bottom: 40px;
}

.skills li {
  /*flex-basis: 0;*/
  display: inline-block;
  list-style: none;
  background-color: #bfa156;
  padding: 5px;
  border: 1px solid #624d17;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  margin: 0 1em 10px 0;
}

/* ---- Contact styles ---- */

.contact {
  text-align: center;
  margin: 0 auto 40px;
}

.contact h2 {
  text-transform: uppercase;
  font-size: .9em;
  padding: 45px 0 25px;
}

.contact p {
  text-align: center;
  max-width: 90%;
  margin: 0 auto 15px;
}

/* ---- Footer styles ---- */

.footer {
  display: flex;
  margin: 0 auto;
  padding-bottom: 1rem;
  max-width: 90%;
}

.student {
  margin-right: auto;
}

.back-to-top {
  text-transform: uppercase;
}

.footer-links {
  display: none;
}

/* ============================
      Media Queries
==============================*/

@media screen and (min-width: 720px) {

  /* ---- Wrappers @media 720 ---- */

  #wrapper-white {
    padding: 0 4%;
  }

  #wrapper-white h2 {
    padding-bottom: 20px;
  }

  /* ---- Main Header @media 720 ---- */

  .name {
    padding: 40px 0 3px;
  }

  .menu li {
    background: transparent;
    max-width: 90%;
    padding: 0 15px 15px;
    display: inline-block;
  }

  /* ---- Profile styles @media 720 ---- */

  .profile {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  .profile-pic {
    width: 40%;
    text-align: right;
    padding-bottom: 35px;
  }

  .main-text {
    width: 60%;
    text-align: left;
    padding: .5em 2em 0 0;
  }

  /* ---- Portfolio Styles @media 720 ---- */

  .portfolio-item {
    width: 48%;
    margin: 1%;
  }

  /* ---- Contact styles @media 720 ---- */

  .contact {
    max-width: 700px;
  }

  .contact p {
    font-size: 1.3em;
  }

  /* ---- Footer Styles @media 720 ---- */

  .back-to-top {
    display: none;
  }

  .footer-links {
    display: flex;
  }

  .footer-links ul {
    display: flex;
    list-style: none;
  }

  .footer-links li {
  }

  .footer-links a {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
  }

}

@media screen and (min-width: 1024px) {

/* ---- Main Header @media 1024 ---- */

.main-header {
  display:flex;
  align-items: baseline;
  max-width: 90%;
  margin: 0 auto;
}

  .name {
    padding: 40px 0 3px;
    margin-right: auto;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    background: transparent;
    max-width: 90%;
    padding: 0 15px 15px;
  }

  /* ---- Portfolio Styles @media 1024 ---- */

  .portfolio-item {
    width: 31.3333%;
  }

}
